

.aquariumcalculator-main-form {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    overflow-x: hidden;
    background-color:#ffffff;



    z-index:100;
}

.aquariumcalculator-result {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    background-color:#ffffff;

    z-index:50;

}


#runCalculate {
    display: none;
}
