

.aquariumcalculator-main-form {
    float: left;
    width: 360px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
    
}

.aquariumcalculator-result {
    margin-left: 360px;
    height:100%;
    display:block;
    overflow-x:hidden;
    overflow-y:auto;

}




